
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pignus</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/flexboxgrid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
</head>
<body>
    <header>
        <nav >
            <div class="col-xs-12"> 
                <ul class="menu">
                    <img src="img/logo3.png" class="img-small" alt="">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="quienesSomos.html">Quienes somos</a></li>
                    <li><a href="contactenos.html">Contáctanos</a></li>
                    <li><a href="registro.html">Mi cuenta</a></li>
                </ul> 
            </div>
        </nav>
    </header>
    <div class="no-xs col-sm-12 centrar">
        <h1>
            Protegete con nosotros 
        </h1>
    </div class="col-xs-12 col-sm-4 no-xs">
    <div id="carouselExampleInterval" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="10000">
            <img src="img/1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="2000">
            <img src="img/2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="row main">
    </div>
   

    <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-6 texto-derecha margin-top-xs">
            <h1>Conozca la tecnología pignus</h1>
            <p>Controle desde su celular sin pagar monitoreo de manera comoda y simple, a solo un par de clicks</p>
            <img src="img/logo.png" width="300" alt="">
          </div>
          <br>
          <div class="col-xs-12 col-sm-6 margin-top-xs ">
            <img src="img/hikvision.jpg" width="300" alt="">
            <h1>Colaboración</h1>
            <p>Nuestra empresa no solo trabaja con tecnología Pigmus si no que tambien somos socios con la marca hikvision</p>
            <button onclick="location.href='https://www.hikvision.com/es-la'">Campañas</button>
          </div>
        </div>
      </div>
     

    <footer class="barraInferior">
        <div class="col-xs-12 col-sm-4"><h3 class="texto-blanco"></h3></div>
        <p class="col-xs-12 col-sm-4">Desarrollo web y mobile, Duoc UC</p class="col-xs-12 col-sm-4 no-xs">
          <div class="row verde-main middle-xs">
            <div class="col-xs-12 col-md-3">
                <h3>+56 9 32145978</h3>
            </div>
            <div class="col-xs-12 col-md-6">
                    <h3></h3>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="row center-xs">
                    <div class="col-xs-1 col-md-2">
                        <a href="https://www.facebook.com" ><i class="fab fa-2x fa-facebook-square"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="#" ><i class="fab fa-2x fa-google-plus-g"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="https://www.instagram.com/?hl=es-la" >    <i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="#" ><i class="far fa-2x fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


<script src="js/jquery-3.4.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/app.js"></script>

</body>
</html>